<html>
  <body>
    <div id="app">
      {{message}}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Passez votre souris sur moi pendant quelques secondes
        pour voir mon titre lié dynamiquement !
      </span>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="test1">
      <testage-p></testage-p>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../static/jouer.js"></script>
</html>
